@import '../../node_modules/bootstrap/dist/css/bootstrap.min';
@import '../../node_modules/jquery-ui/themes/black-tie/jquery-ui';
@import '../../node_modules/react-color-picker/index';
@import '../../node_modules/font-awesome/css/font-awesome';

body {
	font-family: "helvetica";
}

html, body {
	height: 1000px;
}

input {
	width: 220px;
	height: 30px;
	padding-left: 5px;
	border: 1px solid #C9AEEB;
}

.header {
	position: fixed;
	z-index: 3;
	background-color: #E6E6E6;
	height: 30px;
	width: 100%;
}

.tabselected {
	background-color: #7A54A8;
	border: 1px solid transparent;
}

.tab {
	border: 1px solid #BABABA;
	border-left: none;
}

.tabselected, .tab {
	position: relative;
	height: 25px;
	width: 160px;
	top: 5px;
	display: inline-block;
	margin-bottom: -5px;
}


.tab:hover {
	background-color: #F2F2F2;
}

.tabselectedText, .tabText {
	font-size: 12px;
	margin-top: 5px;
	margin-left: 10px;
	text-overflow: ellipsis;
	width: 125px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	float: left;
}

.tabselectedText, .closeX {
	color: #E6E6E6;
}

.tabselectedText:hover, :tabText:hover {
	cursor: default;
}

.tabText {
	color: #7A54A8;
}
.closeBorder{
	border:1px solid red;
	border-radius: 100%;
	width:10px;
	height:10px;
}

.closeX {
	float: right;
	margin-top: 8px;
	margin-right: 9px;
	font-size: 10px;
}

.closeX:hover{
	width: 14px;
	height: 14px;
	margin-right: 5px;
	margin-top: 7px;
	text-align: center;
	border:1px solid #C45454;
	border-radius: 100%;
	background-color:#DB6E6E;
}

.fa-plus-square:hover {
	color: #000;
	cursor: default;
}

.fa-plus-square {
	position: relative;
	top: 5px;
	margin-left: 5px;
	font-size: 16px;
	color: #BFBFBF;
}

.search {
	position: fixed;
	z-index: 3;
	background-color: #7A54A8;
	top:30px;
	padding: 5px 0px 5px 10px;
	width: 100%;
}

.searchBar {
	background-color: white;
	margin-left: 30px;
 	padding: 5px 0px 5px 5px;
 	width: 90%;
 	height: 30px;
 	border: 1px solid #A3A3A3;
}

.searchfield {
	position: absolute;
	top: 5px;
	left: 60px;
	width: 90%;
	height: 30px;
	border: 1px solid #A3A3A3;
	border-left: none;
	padding: 0;
	outline: none
}

.glyphicon-repeat {
	font-size: 20px;
	float: left;
	padding-top: 5px;
}

.fa-rss {
	position: absolute;
	left: 48px;
	top: 12px;
	font-size: 16px;
	color: #3FBD00
}

.close {
	-webkit-transform: translateX(-250px);
	transform: translateX(-250px);
}

.open {
	-webkit-transform: translateX(0%);
	transform: translateX(0%);
}

.left {
	position: relative;
	background-color: #E6E6E6;
	top: 70px;
	width: 260px;
	height: 1000px;
	float: left;
	-webkit-transition: -webkit-transform .3s linear;
    transition: transform .3s linear;
}

.right {
	float: left;
	margin-left: 10px;
	margin-top: 70px;
	width: 75%;
}

.fa-long-arrow-up {
	margin-left: 10%;
	font-size: 22px;
	margin-top: 5px;
}

.fa-long-arrow-left {
	float:left;
	font-size: 22px;
	margin-right: 5px;
}

.searchInfo {
	top: 95px;
	margin-left: 70px;
	margin-bottom: 5px;
}

.messageInfo {
	margin-bottom: 95px;
}

.eventInfoContainer {
	margin-top: 165px;
}

.eventInfo {
	margin-top: 40px;
}

.listenEvent, .sendMessage{
	float:left;
	width:240px;
}

.hideBar {
	position: absolute;
	left: 250px;
	top: 290px;
	height:100%;
	width:10px;
	margin-top: -290px;
	background-color: #7A54A8;
	cursor: pointer;
}

.autocompleteContainer {
	width: 222px;
	margin-left: 10px;
}

.autocompleteContainer:hover input {
	border: 1px solid black;
}

.autocompleteItem, .autocompleteItemSelected {
	width: 220px;
	height: 25px;
	font-size: 16px;
	padding-left: 5px;
	padding-top: 2px;
}

.autocompleteItemSelected{
	background-color: #7A54A8;
	color: white;
}

h3, input[type=text], textarea, .button, .check{
	margin-left: 10px;
}

h3 {
	margin-bottom: 5px;
	margin-top: 10px;
}

::-webkit-input-placeholder {
    color:    #D6C5EB;
}

.textareaType {
	margin: 5px 0 5px 10px;
}

.button {
	background-color: #7A54A8;
	width: 220px;
	height: 30px;
	text-align: left;
	color: white;
	font-size: 18px;
	border: 1px solid #A3A3A3;
}

.button:hover {
	background-color: #7046A3;
}

.errorMessage, .errorMessageName {
	margin-bottom: -5px;
	color: red;
	font-weight: bold;
	margin-left: 10px;
}

.errorMessageName {
	text-align: center;
	margin-left: -10px;
}

.errorTextarea, .errorTextarea:hover, .errorEvent, .errorEventMessage input{
	border: 1px solid red;
	box-shadow: 0 0 2px red;
}

.errorEvent {
	padding-left: 5px;
	width: 145px;
}

.errorEventMessage {
	width: 222px;
	margin-left: 10px;
}

.event, textarea {
	border: 1px solid #C9AEEB;
	padding-left: 5px;
	width: 220px;
}

.event, .eventInput, .errorEvent {
	height: 30px;
}

.event, .errorEvent {
	position: relative;
	background-color: white;
	border-radius: 0;
}

.eventInput {
	border: 1px solid #C9AEEB;
	padding-left: 5px;
	width: 145px;
}

.eventList {
	position: absolute;
	left: 10px;
	width: 220px;
	background-color: white;
	border: 1px solid #C9AEEB;
}

textarea {
	resize: none;
}

input[type=checkbox], .button {
	margin-top: 10px;
}

.check {
	background-color: white;
	width: 220px;
	margin-bottom: 10px;
}

.checkline {
	border-bottom: 1px solid #F0F0F0;
	padding: 5px 0px 5px 5px;
}

.checkline:hover i {
	display: initial;
}

.glyphicon-check, .glyphicon-unchecked {
	margin-left: 5px;
	margin-right: 5px;
	color: #D8D5DB;
	cursor: pointer;
}

.glyphicon-check {
	color: rgba(0, 0, 0, 0.7);
}

.checkremove {
	display: none;
	float: right;
	margin: 3px 10px 0px -25px;
	cursor: pointer;
}

.colorEvent {
	float: right;
	width: 10px;
	height: 30px;
	margin-top: -5px;
}

textarea:hover, .event:hover, .eventInput:hover {
	border: 1px solid #7A54A8;
}

.ownJsColor {
	position: absolute;
	height: 30px;
	font-size: 12px;
	left: 155px;
	border: none;
	width: 75px;
	text-align: center;
	padding-top: 5px;
	outline: none;
}

.messageContainerMe, .messageContainerSocket {
	position: relative;
	background-color: #E6E6E6;
	top: 70px;
	margin-top: -40px;
	margin-bottom: 70px;
	width: 500px;
	height: 100%;
}

.messageColorMe, .messageColorSocket {
	position: absolute;
	width: 10px;
	height: 100%;
	top: 0;
}

.messageBoxSocket {
	margin: 5px 0px 5px 20px;
}

.messageBoxMe {
	margin: 5px 20px 5px 10px;
}

.messageContainerMe{
	float: right;
}

.messageColorMe {
	left:490px;
}

.messageContainerSocket{
	float: left;
}

.messageColorSocket {
	right:490px;
}

.textMessage {
	margin-top: 5px;
	margin-left: 0px;
	margin-bottom: 0px;
	width: 470px;
	word-wrap: break-word;
}

.error, .info {
	width: 100%;
	height: auto;
	margin-top: 20px;
}

.info {
	background-color: #FFFFD5;
	border: 1px solid #EBEB00;
}

.error {
	background-color: #FCD9D9;
	border: 1px solid #F50000;
}

.message {
	margin: 5px;
}

.objectContainer {
	background-color: #FAFAFA;
	margin-top: 5px;
	padding: 5px;
	margin-bottom: 10px;
	border: 1px solid #D9D9D9;
}

.react-color-picker__saturation-black, 
.react-color-picker__saturation-white, 
.react-color-picker__saturation-spectrum {
	width: 200px;
	height: 200px;
}

.react-color-picker__saturation-spectrum {
	border: 1px solid #C2C2C2;
}

.react-color-picker__hue-spectrum {
	position: absolute;
	left: 200px;
}

.colorPicker {
	display: none;
}

.colorPickerButton {
	float:right;
	margin-right: 10px;
	color: white;
	border: none;
	height: 30px;
	width: 75px;
	font-size: 12px
}

.colorPickerContainerBorder {
	background-color: white;
	top: 400px;
	position: absolute;
	left: 230px;
	width: 262px;
	height: 222px;
	z-index: 2;
	border-radius: 10px;
	border: 1px solid #C2C2C2;
	box-shadow: 0 5px 10px #D1D1D1
}

.colorPickerContainer {
	position: absolute;
	top: 10px;
	left: 10px;
	width: 240px;
	height: 200px;
	z-index: 2;
}

.noConnectPage {
	position: fixed;
	top: 50px;
	left: 25%;
	width: 600px;
	padding: 0 5px 0 5px;
	margin-top: 30px;
}