.update-message {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    > span {
        border-radius: 5px;
        padding: 10px;
        background-color: #e6e6e6;
        display: flex;
        align-items: center;
        flex-flow: column;
        a {
            color: blue;
        }
    }
}