---
---

@import "{{ site.theme }}";
button a {
  display: block;
  height: 50px;
  width: 200px;
  background: #00b7ea;
  color: white;
  font-size: 17px;
  line-height: 50px
  font-family: Helvetica, Verdana, sans-serif;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
        border-radius: 10px;
  -webkit-box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
   -moz-box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
        box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
  background: -moz-linear-gradient(top, #ea3300 0%, #c32500 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ea3300), color-stop(100%,#c32500));
background: -webkit-linear-gradient(top, #ea3300 0%,#c32500 100%);
background: -o-linear-gradient(top, #ea3300 0%,#c32500 100%);
background: -ms-linear-gradient(top, #ea3300 0%,#c32500 100%);
background: linear-gradient(top, #ea3300 0%,#c32500 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ea3300', endColorstr='#c32500',GradientType=0 );
}

button:hover a{
background: #00b7ea;
background: -moz-linear-gradient(top,  #d12d00 36%, #aa2000 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(36%,#d12d00), color-stop(100%,#aa2000));
background: -webkit-linear-gradient(top,  #d12d00 36%,#aa2000 100%);
background: -o-linear-gradient(top,  #d12d00 36%,#aa2000 100%);
background: -ms-linear-gradient(top,  #d12d00 36%,#aa2000 100%);
background: linear-gradient(top,  #d12d00 36%,#aa2000 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d12d00', endColorstr='#aa2000',GradientType=0 );
}
