---
---

@import "{{ site.theme }}";
@keyframes fly_in_from_right {
  0% {
    transform: translate(350px,0);
    -webkit-transform: translate(350px,0);
    -o-transform: translate(350px,0);
    -moz-transform: translate(350px,0);
  }
  100% {
   transform: translate(0,0);
    -webkit-transform: translate(0,0);
    -o-transform: translate(0,0);
    -moz-transform: translate(0,0); 
  }
}
@-webkit-keyframes fly_in_from_right {
  0% {
    transform: translate(350px,0);
    -webkit-transform: translate(350px,0);
    -o-transform: translate(350px,0);
    -moz-transform: translate(350px,0);
  }
  100% {
   transform: translate(0,0);
    -webkit-transform: translate(0,0);
    -o-transform: translate(0,0);
    -moz-transform: translate(0,0); 
  }
}
@keyframes fly_in_from_left {
  0% {
    transform: translate(-350px,0);
    -webkit-transform: translate(-350px,0);
    -o-transform: translate(-350px,0);
    -moz-transform: translate(-350px,0);
  }
  100% {
   transform: translate(0,0);
    -webkit-transform: translate(0,0);
    -o-transform: translate(0,0);
    -moz-transform: translate(0,0); 
  }
}
@-webkit-keyframes fly_in_from_left {
  0% {
    transform: translate(-350px,0);
    -webkit-transform: translate(-350px,0);
    -o-transform: translate(-350px,0);
    -moz-transform: translate(-350px,0);
  }
  100% {
   transform: translate(0,0);
    -webkit-transform: translate(0,0);
    -o-transform: translate(0,0);
    -moz-transform: translate(0,0); 
  }
}
button a {
  display: block;
  height: 50px;
  width: 200px;
  background: #00b7ea;
  color: white;
  font-size: 17px;
  line-height: 50px;
  font-family: Helvetica, Verdana, sans-serif;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
        border-radius: 10px;
  -webkit-box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
   -moz-box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
        box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
  background: -moz-linear-gradient(top, #ea3300 0%, #c32500 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ea3300), color-stop(100%,#c32500));
background: -webkit-linear-gradient(top, #ea3300 0%,#c32500 100%);
background: -o-linear-gradient(top, #ea3300 0%,#c32500 100%);
background: -ms-linear-gradient(top, #ea3300 0%,#c32500 100%);
background: linear-gradient(top, #ea3300 0%,#c32500 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ea3300', endColorstr='#c32500',GradientType=0 );
}

button:hover a{
background: #00b7ea;
background: -moz-linear-gradient(top,  #d12d00 36%, #aa2000 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(36%,#d12d00), color-stop(100%,#aa2000));
background: -webkit-linear-gradient(top,  #d12d00 36%,#aa2000 100%);
background: -o-linear-gradient(top,  #d12d00 36%,#aa2000 100%);
background: -ms-linear-gradient(top,  #d12d00 36%,#aa2000 100%);
background: linear-gradient(top,  #d12d00 36%,#aa2000 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d12d00', endColorstr='#aa2000',GradientType=0 );
}
button{
      border: 0;
    padding: 0;
    background: transparent;
}
a:hover{
  text-decoration: none;
}
.inner {
    max-width: 1024px;
  min-width: 100px;
}
.content-left, .content-right{
  width: 50%;
  float: left;
  padding: 15px;
  box-sizing: border-box;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.6s;
}
.content-left{
  animation-name: fly_in_from_left;

}
.content-right{
  animation-name: fly_in_from_right;
}
.content-right img{
  width: 100%;
}
.clear{
  clear: both;
}

@media screen and (max-width: 992px){
  .content-left, .content-right{
  width: 100%;
  float: none;
}
}
